@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 235 15% 15%;
    --card: 0 0% 100%;
    --card-foreground: 235 15% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 235 15% 15%;
    --primary: 266 74% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 265 100% 96%;
    --secondary-foreground: 266 65% 32%;
    --muted: 265 100% 96%;
    --muted-foreground: 266 40% 35%;
    --accent: 270 91% 78%;
    --accent-foreground: 266 39% 32%;
    --destructive: 0 92% 37%;
    --destructive-foreground: 0 0% 100%;
    --border: 266 60% 90%;
    --input: 266 60% 90%;
    --ring: 266 74% 46%;
    --chart-1: 266 74% 46%;
    --chart-2: 270 91% 78%;
    --chart-3: 210 55% 48%;
    --chart-4: 42 78% 58%;
    --chart-5: 156 52% 44%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 258 52% 10%;
    --foreground: 0 0% 100%;
    --card: 258 52% 12%;
    --card-foreground: 0 0% 100%;
    --popover: 258 52% 12%;
    --popover-foreground: 0 0% 100%;
    --primary: 266 74% 60%;
    --primary-foreground: 258 52% 12%;
    --secondary: 266 45% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 266 45% 20%;
    --muted-foreground: 266 40% 70%;
    --accent: 268 91% 72%;
    --accent-foreground: 258 45% 18%;
    --destructive: 0 80% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 258 45% 28%;
    --input: 258 45% 28%;
    --ring: 266 74% 60%;
    --chart-1: 266 74% 60%;
    --chart-2: 268 91% 72%;
    --chart-3: 210 55% 62%;
    --chart-4: 42 78% 64%;
    --chart-5: 156 52% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
